<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title id="js-meta-title">数据中心</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- ▼ Common CSS -->
    <link rel="stylesheet" href="/jquery.ui.20151022.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/pc.css">
    <!-- ▲ Common CSS -->

    <!-- ▼ App CSS -->
    <link rel="stylesheet" href="/dashboard.css">
    <!-- ▲ App CSS -->
    <body class="theme theme--blue theme-new-ui show-help">