
    <div id="app-user-info">
        <span class="user-name">账号管理</span>
        <span class="user-arrow"></span>
        <div class="user-dropdown">
            <div class="user-dropdown-meta">
                <div></div>
                <div>15882206050</div>
            </div>
            <div class="user-dropdown-select">
                <!-- <a class="new-select" href="//koudaitong.com/v2/account/personal/invitecode">个人邀请奖励</a>
                       
                        <a href="//koudaitong.com/v2/account/team#select">切换店铺</a> -->
                <a href="javascript:void(0)">帐号设置</a>
                <a href="javascript:void(0)">退出</a>
            </div>
        </div>
    </div>


    <div id="app-second-sidebar">
        <div style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
            <div class="second-sidebar-title">
                数据中心
            </div>
            <nav>
                <ul>
                    <li <% if(mClass=="data") { %> class="active" <%}%> >
                        <a href="<%= CONTEXT%>/manage/data">接口访问</a>
                    </li>
                     <li <% if(mClass=="dataGC") { %> class="active" <%}%>>
                        <a href="<%= CONTEXT%>/manage/dataGC">服务器GC</a>
                    </li>
                    <li <% if(mClass=="dataRedis") { %> class="active" <%}%>>
                        <a href="<%= CONTEXT%>/manage/dataRedis">redis访问</a>
                    </li>
                    <li <% if(mClass=="dataMemcache") { %> class="active" <%}%>>
                        <a href="<%= CONTEXT%>/manage/dataMemcache">memcache访问</a>
                    </li>
                    <li <% if(mClass=="dataDB") { %> class="active" <%}%> >
                        <a href="<%= CONTEXT%>/manage/dataDB">数据库</a>
                    </li>
                    <li <%if(mClass=="dataRpc") { %> class="active" <%}%> >
                        <a href="<%= CONTEXT%>/manage/dataRpc">远程rpc</a>
                    </li>
                    <li <%if(mClass=="dataJms") { %> class="active" <%}%> >
                        <a href="<%= CONTEXT%>/manage/dataJms">JMS消息</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>