<!-- ▼ Main sidebar -->
    <div id="app-first-sidebar">
        <div style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
            <a class="team-logo-wrap" href="//koudaitong.com/v2/setting/store#index">
                <div class="team-logo" style="background-image: url(https://img.yzcdn.cn/public_files/2016/05/13/8f9c442de8666f82abaf7dd71574e997.png?imageView2/2/w/60/h/60/q/75/format/webp)">
                </div>
            </a>
            <nav>
                <ul class="clearfix">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-dashboard"></i> 概况
                        </a>
                    </li>
                    <li class="active">
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-stat"></i> 数据
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-order"></i> 报表
                        </a>
                    </li>

                    <li>
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-shop"></i> 预警
                        </a>
                    </li>


                    <li>
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-goods"></i> 监控
                        </a>
                    </li>

                    <li style="margin-top: 44px;">
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-app"></i> 消息
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="sidebar-icon sidebar-icon-setting"></i> 设置
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>